@font-face {
  font-family: "Lobster_Regular";
  src: url("../fonts/Lobster_Regular.ttf");
}

@font-face {
  font-family: "Cuphead_Memphis_Regular";
  src: url("../fonts/Cuphead_Memphis_Regular.ttf");
}

@font-face {
  font-family: "Georgia_Regular";
  src: url("../fonts/Georgia_Regular.ttf");
}

@font-face {
  font-family: "Test";
  src: url("../fonts/Test.ttf");
}

.visible-vpc {
  opacity: 1;
}

.hidden-vpc {
  opacity: 0;
}

html {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-rows: 1000px 1fr 300px;
  margin: 0;
  align-items: center;
}

@media (min-width: 992px) and (max-width: 1499px) {
  .grid {
    grid-template-rows: 865px 1fr 300px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .grid {
    grid-template-rows: 865px 1fr 300px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .grid {
    grid-template-rows: 735px 1fr 300px;
  }
}

@media (max-width: 479px) {
  .grid {
    grid-template-rows: 655px 1fr 300px;
  }
}

header {
  min-height: 100%;
  background: url(../pictures/rainbow.jpg) no-repeat center;
  background-size: cover;
}

header nav {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  min-height: 115px;
}

@media (min-width: 1500px) and (max-width: 1634px) {
  header nav {
    grid-template-rows: repeat(2, 1fr);
    min-height: 210px;
  }
}

@media (min-width: 992px) and (max-width: 1499px) {
  header nav {
    grid-template-rows: repeat(2, 1fr);
    min-height: 210px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header nav {
    grid-template-rows: repeat(2, 1fr);
    min-height: 210px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header nav {
    grid-template-rows: 125px 1fr;
    min-height: 210px;
  }
}

@media (max-width: 479px) {
  header nav {
    grid-template-rows: 80px 1fr;
    min-height: 210px;
  }
}

header .logo {
  justify-self: start;
  align-self: center;
  grid-column: 2/3;
}

@media (min-width: 1500px) and (max-width: 1634px) {
  header .logo {
    grid-column: 2/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
  }
}

@media (min-width: 992px) and (max-width: 1499px) {
  header .logo {
    grid-column: 2/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .logo {
    grid-column: 2/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header .logo {
    grid-column: 2/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
  }
}

@media (max-width: 479px) {
  header .logo {
    grid-column: 2/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
  }
}

header .logo-photo {
  width: 85px;
  margin-right: 15px;
  border-radius: 45px;
  border: 4px solid white;
}

@media (min-width: 480px) and (max-width: 767px) {
  header .logo-photo {
    width: 62px;
  }
}

@media (max-width: 479px) {
  header .logo-photo {
    width: 62px;
  }
}

header .name {
  letter-spacing: 1px;
  font-size: 3.5rem;
  font-family: Lobster_Regular, serif;
  vertical-align: middle;
  text-transform: uppercase;
}

@media (min-width: 480px) and (max-width: 767px) {
  header .name {
    font-size: 2.1rem;
  }
}

@media (max-width: 479px) {
  header .name {
    font-size: 1.7rem;
  }
}

header .second-name {
  display: none;
}

header .navigation {
  grid-column: 3/4;
  font-size: 1.2rem;
  align-self: center;
  justify-self: end;
  font-family: Georgia_Regular, serif;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1500px) and (max-width: 1634px) {
  header .navigation {
    justify-self: center;
    grid-column: 2/4;
    grid-row: 2/3;
  }
}

@media (min-width: 992px) and (max-width: 1499px) {
  header .navigation {
    justify-self: center;
    grid-column: 2/4;
    grid-row: 2/3;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .navigation {
    justify-self: center;
    grid-column: 2/4;
    grid-row: 2/3;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header .navigation {
    justify-self: center;
    grid-column: 2/4;
    grid-row: 2/3;
  }
}

@media (max-width: 479px) {
  header .navigation {
    justify-self: center;
    grid-column: 2/4;
    grid-row: 2/3;
  }
}

header li {
  display: inline;
}

@media (min-width: 480px) and (max-width: 767px) {
  header li {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 479px) {
  header li {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }
}

header nav a {
  color: black;
  text-decoration: underline;
  padding: 5px 17px;
  border-radius: 15px;
  transition-duration: 0.4s;
}

@media (min-width: 768px) and (max-width: 991px) {
  header nav a {
    padding: 5px 12px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header nav a {
    padding: 5px 12px;
  }
}

@media (max-width: 479px) {
  header nav a {
    padding: 5px 12px;
  }
}

header nav a:hover {
  background: #ff81a4;
  text-decoration: none;
  padding: 5px 17px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

@media (min-width: 768px) and (max-width: 991px) {
  header nav a:hover {
    padding: 5px 12px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header nav a:hover {
    padding: 5px 12px;
  }
}

@media (max-width: 479px) {
  header nav a:hover {
    padding: 5px 12px;
  }
}

header .carousel-start {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

@media (min-width: 480px) and (max-width: 767px) {
  header .carousel-start {
    margin-top: 25px;
  }
}

@media (max-width: 479px) {
  header .carousel-start {
    margin-top: 15px;
  }
}

header #carouselExampleIndicators {
  grid-column: 2/3;
}

@media (min-width: 992px) and (max-width: 1499px) {
  header #carouselExampleIndicators {
    width: 600px;
    height: 600px;
    justify-self: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header #carouselExampleIndicators {
    width: 600px;
    height: 600px;
    justify-self: center;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header #carouselExampleIndicators {
    width: 400px;
    height: 400px;
    justify-self: center;
  }
}

@media (max-width: 479px) {
  header #carouselExampleIndicators {
    width: 400px;
    height: 400px;
    justify-self: center;
  }
}

@media (min-width: 992px) and (max-width: 1499px) {
  header .carousel-inner {
    margin: 8px auto;
    width: 97%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .carousel-inner {
    margin: 8px auto;
    width: 97%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header .carousel-inner {
    margin: 8px auto;
    width: 97%;
  }
}

@media (max-width: 479px) {
  header .carousel-inner {
    margin: 8px auto;
    width: 97%;
  }
}

header .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
  border-radius: 30px;
}

header .size-img {
  width: 54% !important;
  float: right;
  margin: 2%;
  border-radius: 20px;
}

@media (min-width: 992px) and (max-width: 1499px) {
  header .size-img {
    width: 96% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .size-img {
    width: 96% !important;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header .size-img {
    width: 96% !important;
  }
}

@media (max-width: 479px) {
  header .size-img {
    width: 96% !important;
  }
}

header .jumbotron {
  background: none;
  float: left;
  width: 44%;
  position: absolute;
  color: white;
  margin: 0;
  padding-top: 200px;
  font-family: Georgia_Regular, serif;
}

@media (min-width: 992px) and (max-width: 1499px) {
  header .jumbotron {
    width: 93%;
    padding-top: 311px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .jumbotron {
    width: 93%;
    padding-top: 311px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header .jumbotron {
    width: 93%;
    padding-top: 311px;
  }
}

@media (max-width: 479px) {
  header .jumbotron {
    width: 93%;
    padding-top: 311px;
  }
}

header .jumbotron .display-4 {
  font-size: 3.2rem;
}

@media (min-width: 992px) and (max-width: 1499px) {
  header .jumbotron .display-4 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .jumbotron .display-4 {
    font-size: 3rem;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header .jumbotron .display-4 {
    display: none;
    font-size: 3rem;
  }
}

@media (max-width: 479px) {
  header .jumbotron .display-4 {
    font-size: 3rem;
    display: none;
  }
}

header .jumbotron .my-4 {
  border-top: 1px solid white;
}

@media (min-width: 480px) and (max-width: 767px) {
  header .jumbotron .my-4 {
    display: none;
  }
}

@media (max-width: 479px) {
  header .jumbotron .my-4 {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header .jumbotron .lead {
    display: none;
  }
}

@media (max-width: 479px) {
  header .jumbotron .lead {
    display: none;
  }
}

header .jumbotron .btn-primary {
  background-color: #ff81a4;
  border-color: white;
}

@media (min-width: 480px) and (max-width: 767px) {
  header .jumbotron .btn-primary {
    margin-top: -3px;
    padding: .2rem 0.5rem;
  }
}

@media (max-width: 479px) {
  header .jumbotron .btn-primary {
    margin-top: -3px;
    padding: .2rem 0.5rem;
  }
}

header .jumbotron .btn-primary:hover {
  background-color: #ff477b;
}

header .jumbotron .btn-primary:active {
  background-color: #ff477b !important;
  border-color: white !important;
}

header .jumbotron .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem white;
}

header .carousel-control-prev {
  left: -15%;
}

@media (min-width: 768px) and (max-width: 991px) {
  header .carousel-control-prev {
    left: -11%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header .carousel-control-prev {
    left: 1%;
  }
}

@media (max-width: 479px) {
  header .carousel-control-prev {
    left: 1%;
  }
}

header .carousel-control-next {
  right: -15%;
}

@media (min-width: 768px) and (max-width: 991px) {
  header .carousel-control-next {
    right: -11%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header .carousel-control-next {
    right: 1%;
  }
}

@media (max-width: 479px) {
  header .carousel-control-next {
    right: 1%;
  }
}

header .icon {
  width: 40px;
  height: 40px;
}

header .carousel-control-prev-icon {
  background-image: url(../pictures/arrow-left.png);
}

@media (min-width: 480px) and (max-width: 767px) {
  header .carousel-control-prev-icon {
    background-image: url(../pictures/arrow-left-white.png);
  }
}

@media (max-width: 479px) {
  header .carousel-control-prev-icon {
    background-image: url(../pictures/arrow-left-white.png);
  }
}

header .carousel-control-next-icon {
  background-image: url(../pictures/arrow-right.png);
}

@media (min-width: 480px) and (max-width: 767px) {
  header .carousel-control-next-icon {
    background-image: url(../pictures/arrow-right-white.png);
  }
}

@media (max-width: 479px) {
  header .carousel-control-next-icon {
    background-image: url(../pictures/arrow-right-white.png);
  }
}

header .indicators {
  background-color: black;
}

header .carousel-indicators {
  justify-content: flex-end;
  bottom: 30px;
  margin-right: 21%;
}

@media (min-width: 992px) and (max-width: 1499px) {
  header .carousel-indicators {
    justify-content: center;
    bottom: 17px;
    margin-right: 15%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .carousel-indicators {
    justify-content: center;
    bottom: 17px;
    margin-right: 15%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header .carousel-indicators {
    justify-content: center;
    bottom: 0px;
    margin-right: 15%;
  }
}

@media (max-width: 479px) {
  header .carousel-indicators {
    justify-content: center;
    bottom: 0px;
    margin-right: 15%;
  }
}

main {
  background: url(../pictures/pattern/pattern7.png);
}

main .last-work,
main .offer,
main .insta {
  margin-bottom: 40px;
}

@media (max-width: 479px) {
  main .last-work,
  main .offer,
  main .insta {
    margin-bottom: 20px;
  }
}

main .last-table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
  grid-gap: 50px;
}

@media (min-width: 992px) and (max-width: 1499px) {
  main .last-table {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main .last-table {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .last-table {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 479px) {
  main .last-table {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
  }
}

main .last-img-1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

main .last-img-2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

@media (min-width: 992px) and (max-width: 1499px) {
  main .last-img-2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main .last-img-2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .last-img-2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media (max-width: 479px) {
  main .last-img-2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

main .last-img-3 {
  grid-column: 4/5;
  grid-row: 1/2;
}

@media (min-width: 992px) and (max-width: 1499px) {
  main .last-img-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main .last-img-3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .last-img-3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@media (max-width: 479px) {
  main .last-img-3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

main .last-img-4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

@media (min-width: 992px) and (max-width: 1499px) {
  main .last-img-4 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main .last-img-4 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .last-img-4 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

@media (max-width: 479px) {
  main .last-img-4 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

main .last-img-5 {
  grid-column: 3/4;
  grid-row: 2/3;
}

@media (min-width: 992px) and (max-width: 1499px) {
  main .last-img-5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main .last-img-5 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .last-img-5 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}

@media (max-width: 479px) {
  main .last-img-5 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}

main .last-img-6 {
  grid-column: 4/5;
  grid-row: 2/3;
}

@media (min-width: 992px) and (max-width: 1499px) {
  main .last-img-6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main .last-img-6 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .last-img-6 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
}

@media (max-width: 479px) {
  main .last-img-6 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
}

main .last-work img {
  width: 380px;
  border-radius: 25px;
  border: 5px solid white;
}

@media (min-width: 480px) and (max-width: 767px) {
  main .last-work img {
    width: 300px;
  }
}

@media (max-width: 479px) {
  main .last-work img {
    width: 300px;
  }
}

main .last-header {
  display: grid;
  grid-template-columns: 1fr 2fr 421px 2fr 1fr;
  height: 150px;
}

@media (min-width: 480px) and (max-width: 767px) {
  main .last-header {
    grid-template-columns: 0.5fr 1fr 3fr 1fr 0.5fr;
  }
}

@media (max-width: 479px) {
  main .last-header {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    height: 90px;
  }
}

main .offer-header {
  display: grid;
  grid-template-columns: 1fr 2fr 458px 2fr 1fr;
  height: 150px;
}

@media (min-width: 480px) and (max-width: 767px) {
  main .offer-header {
    grid-template-columns: 0.5fr 1fr 3fr 1fr 0.5fr;
  }
}

@media (max-width: 479px) {
  main .offer-header {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    height: 120px;
  }
}

main .insta-header {
  display: grid;
  grid-template-columns: 1fr 2fr 678px 2fr 1fr;
  height: 150px;
}

@media (min-width: 480px) and (max-width: 767px) {
  main .insta-header {
    grid-template-columns: 0.3fr 0.5fr 3fr 0.5fr 0.3fr;
  }
}

@media (max-width: 479px) {
  main .insta-header {
    grid-template-columns: 0.3fr 0.5fr 3fr 0.5fr 0.3fr;
  }
}

main .last-head,
main .offer-head,
main .insta-head {
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
  font-family: Georgia_Regular, serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  background: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}

@media (min-width: 480px) and (max-width: 767px) {
  main .last-head,
  main .offer-head,
  main .insta-head {
    font-size: 1.2rem;
    padding: 4px;
  }
}

@media (max-width: 479px) {
  main .last-head,
  main .offer-head,
  main .insta-head {
    font-size: 1.2rem;
    padding: 4px;
  }
}

main .line-left {
  grid-column: 2/3;
  height: 2px;
  width: 100%;
  background: black;
  justify-self: right;
  align-self: center;
}

@media (min-width: 480px) and (max-width: 767px) {
  main .line-left {
    height: 1px;
  }
}

@media (max-width: 479px) {
  main .line-left {
    height: 1px;
  }
}

main .line-right {
  grid-column: 4/5;
  height: 2px;
  width: 100%;
  background: black;
  justify-self: right;
  align-self: center;
}

@media (min-width: 480px) and (max-width: 767px) {
  main .line-right {
    height: 1px;
  }
}

@media (max-width: 479px) {
  main .line-right {
    height: 1px;
  }
}

main .offer-card {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1.5fr;
  justify-items: center;
  grid-gap: 50px;
}

@media (min-width: 992px) and (max-width: 1499px) {
  main .offer-card {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main .offer-card {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .offer-card {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 479px) {
  main .offer-card {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

main .card {
  border-radius: 25px;
  border: 1px solid black;
  height: 546px;
}

main .offer-img-1 {
  grid-column: 2/3;
}

@media (min-width: 992px) and (max-width: 1499px) {
  main .offer-img-1 {
    grid-row: 1/2;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .offer-img-1 {
    grid-row: 1/2;
  }
}

@media (max-width: 479px) {
  main .offer-img-1 {
    grid-row: 1/2;
  }
}

main .offer-img-2 {
  grid-column: 3/4;
}

@media (min-width: 992px) and (max-width: 1499px) {
  main .offer-img-2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main .offer-img-2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .offer-img-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
  }
}

@media (max-width: 479px) {
  main .offer-img-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
  }
}

main .offer-img-3 {
  grid-column: 4/5;
}

@media (min-width: 992px) and (max-width: 1499px) {
  main .offer-img-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main .offer-img-3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .offer-img-3 {
    grid-column: 2/3;
    grid-row: 3/4;
    height: 100%;
  }
}

@media (max-width: 479px) {
  main .offer-img-3 {
    grid-column: 2/3;
    grid-row: 3/4;
    height: 100%;
  }
}

main .offer-img-4 {
  grid-column: 5/6;
}

@media (min-width: 992px) and (max-width: 1499px) {
  main .offer-img-4 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main .offer-img-4 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .offer-img-4 {
    grid-column: 2/3;
    grid-row: 4/5;
    height: 100%;
  }
}

@media (max-width: 479px) {
  main .offer-img-4 {
    grid-column: 2/3;
    grid-row: 4/5;
    height: 100%;
  }
}

main .card-img-top {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

main .card-text {
  font-family: Georgia_Regular, serif;
  text-align: justify;
  text-indent: 1.5rem;
}

main .offer img {
  padding: 10px;
}

main .comment {
  background: url(../pictures/pattern/pattern4.jpg);
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 479px) {
  main .comment {
    height: 600px;
  }
}

main .comment h1 {
  font-family: Cuphead_Memphis_Regular, serif;
  background: white;
  border-radius: 20px;
  border: 1px solid black;
  width: 70%;
  text-align: center;
  padding: 20px;
  margin: 0;
}

@media (min-width: 480px) and (max-width: 767px) {
  main .comment h1 {
    font-size: 1.8rem;
    border: 2px solid black;
  }
}

@media (max-width: 479px) {
  main .comment h1 {
    font-size: 1.6rem;
    border: 2px solid black;
  }
}

main .comment-back {
  background: url(../pictures/hands.jpg) no-repeat fixed center;
  height: 700px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 479px) {
  main .comment-back {
    height: 600px;
  }
}

main .comment-back h1 {
  font-family: Cuphead_Memphis_Regular, serif;
  background: white;
  border-radius: 20px;
  border: 1px solid black;
  width: 70%;
  text-align: center;
  padding: 20px;
}

@media (min-width: 480px) and (max-width: 767px) {
  main .comment-back h1 {
    font-size: 1.9rem;
    border: 2px solid black;
  }
}

@media (max-width: 479px) {
  main .comment-back h1 {
    font-size: 1.6rem;
    border: 2px solid black;
  }
}

main .insta-card {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 100px;
  grid-gap: 20px;
}

main .insta-card .btn-outline-danger {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: Georgia_Regular, serif;
  padding: 0.8rem .75rem;
  color: #ff477b;
}

@media (min-width: 480px) and (max-width: 767px) {
  main .insta-card .btn-outline-danger {
    font-size: 2rem;
    padding: 24px;
  }
}

@media (max-width: 479px) {
  main .insta-card .btn-outline-danger {
    font-size: 2rem;
    padding: 24px;
  }
}

main .insta-card .btn-outline-danger:hover {
  background-color: #ff477b;
  border-color: #ff477b;
  color: white;
}

main .insta-card img {
  width: 60%;
  justify-self: center;
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 5px;
  border: 1px solid black;
}

main .call {
  background: url(../pictures/pattern/pattern4.jpg);
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main .call .animate {
  width: 100%;
  margin: 0 auto;
}

main .call .phone-text {
  font-family: Cuphead_Memphis_Regular, serif;
  background: white;
  border-radius: 20px;
  border: 1px solid black;
  width: 70%;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  main .call .phone-text {
    font-size: 2rem;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .call .phone-text {
    font-size: 2rem;
    border: 2px solid black;
  }
}

@media (max-width: 479px) {
  main .call .phone-text {
    font-size: 1.9rem;
    border: 2px solid black;
  }
}

main .call .phone {
  margin: 0;
  font-size: 5rem;
  font-weight: 900;
}

@media (min-width: 768px) and (max-width: 991px) {
  main .call .phone {
    font-size: 4rem;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  main .call .phone {
    font-size: 2.4rem;
  }
}

@media (max-width: 479px) {
  main .call .phone {
    font-size: 2.0rem;
  }
}

footer {
  height: 100%;
  width: 100%;
  background: url(../pictures/footer.png);
}

@media (min-width: 480px) and (max-width: 767px) {
  footer {
    flex-direction: column-reverse;
  }
}

@media (max-width: 479px) {
  footer {
    flex-direction: column-reverse;
  }
}

footer .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 170px;
}

footer .site-info {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 40px;
  width: 50%;
}

@media (min-width: 480px) and (max-width: 767px) {
  footer .site-info {
    margin-left: 15px;
    font-size: 0.9rem;
  }
}

@media (max-width: 479px) {
  footer .site-info {
    margin-right: 15px;
    font-size: 0.9rem;
  }
}

footer .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 1.5rem;
  margin-right: 40px;
  width: 50%;
}

@media (min-width: 480px) and (max-width: 767px) {
  footer .contacts {
    margin-right: 15px;
    font-size: 1.2rem;
  }
}

@media (max-width: 479px) {
  footer .contacts {
    margin-right: 15px;
    font-size: 1rem;
  }
}

footer .copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  font-size: 1rem;
  text-transform: uppercase;
  height: 35px;
}

@media (min-width: 480px) and (max-width: 767px) {
  footer .copyright {
    font-size: 0.8rem;
  }
}

@media (max-width: 479px) {
  footer .copyright {
    font-size: 0.8rem;
  }
}

footer a {
  color: black;
  transition-duration: 0.4s;
}

footer a:hover {
  text-decoration: none;
  color: white;
  transition-duration: 0.4s;
  transform: scale(1.2, 1.2);
}

.modal .modal-body img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.modal .modal-body img:last-child {
  margin-bottom: 0px;
}
