@font-face {
    font-family: "Lobster_Regular";
    src: url("../fonts/Lobster_Regular.ttf");
}

@font-face {
    font-family: "Cuphead_Memphis_Regular";
    src: url("../fonts/Cuphead_Memphis_Regular.ttf");
}

@font-face {
    font-family: "Georgia_Regular";
    src: url("../fonts/Georgia_Regular.ttf");
}

@font-face {
    font-family: "Test";
    src: url("../fonts/Test.ttf");
}

$fontNav: Lobster_Regular,
serif;
$fontTagline: Cuphead_Memphis_Regular,
serif;
$fontText: Georgia_Regular,
serif;

$colorOne: #ff81a4;
$colorTwo: #ff477b;

// переопределение стилей bootstrap
.carousel-indicators .active {
    background-color: $colorOne;
}

.carousel-indicators li {
    background-color: black;
}

.carousel-control-prev-icon {
    background-image: url(../images/arrow/arrow-prev.png);
}

.carousel-control-next-icon {
    background-image: url(../images/arrow/arrow-next.png);
}






//@mixin respond-to ($_media) {
//
//    @if $_media==phones {
//        @media (max-width: 479px) {
//            @content;
//        }
//    }
//
//    @else if $_media==wide-phones {
//        @media (min-width: 480px) and (max-width: 767px) {
//            @content;
//        }
//    }
//
//    @else if $_media==tablets {
//        @media (min-width: 768px) and (max-width: 991px) {
//            @content;
//        }
//    }
//
//    @else if $_media==small-desktops {
//        @media (min-width: 992px) and (max-width: 1499px) {
//            @content;
//        }
//    }
//
//    @else if $_media==lg-desktops {
//        @media (min-width: 1500px) and (max-width: 1634px) {
//            @content;
//        }
//    }
//
//    @else if $_media==xlg-desktops {
//        @media (min-width: 1635px) {
//            @content;
//        }
//    }
//}
.visible-vpc {
    opacity: 1;
}

.hidden-vpc {
    opacity: 0;
}

//.tada-delay {
//  //animation-duration: 3s;
//  animation-delay: 2s;
//  //animation-iteration-count: infinite;
//}
