.b-header {
    height: 1000px;
    background: url(../images/rainbow.jpg) no-repeat center;
    background-size: cover;

    &__nav {
        width: 1200px;
        height: 130px;

        &_center {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }
    }
}
